@import '../../assets//sass/Global.scss';

.singleItem {
  background-color: #fff;
  width: calc(100%/5.2  );
  border-radius: 5px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
  margin-right: 10px;
  img {
    width: 100%;
    border-radius: 5px 5px 0 0;
  }
  .info {
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30px;
    h3 {
      margin: 0;
    }
    h6 {
      font-weight: bold;
      color: $maincolor;
      font-size: 15px;
      span {
        color: $secondcolor;
      }
    }
  }
  .actions {
    text-align: center;
    padding: 5px 0 25px;
    button {
      border: none;
      margin: 3px 5px;
      padding: 8px 10px;
      border-radius: 5px;
      cursor: pointer;
      &.delete {
        background-color: $secondcolor;
        color: #fff;
      }
      &.add {
        background-color: $maincolor;
        color: #fff;
      }
    }
  }
}